/***** setup the fonts *****/

@font-face {
  font-family: 'HeadlineOne-HPLHS';
  src: url('../fonts/HeadlOneHPLHS.eot');
}

@font-face {
  font-family: 'HeadlineOne-HPLHS';
  src: url('../fonts/HeadlOneHPLHS.woff') format('woff'),
  url('../fonts/HeadlOneHPLHS.svg#HeadlineOne-HPLHS') format('svg');
}

@font-face {
  font-family: 'HeadlineTwo-HPLHS';
  src: url('../fonts/HeadlTwoHPLHS.eot');
}

@font-face {
  font-family: 'HeadlineTwo-HPLHS';
  src: url('../fonts/HeadlTwoHPLHS.woff') format('woff'),
  url('../fonts/HeadlTwoHPLHS.svg#HeadlineTwo-HPLHS') format('svg');
}

@font-face {
  font-family: 'OldstyleItalic-HPLHS';
  src: url('../fonts/OldstItaHPLHS.eot');
}

@font-face {
  font-family: 'OldstyleItalic-HPLHS';
  src: url('../fonts/OldstItaHPLHS.woff') format('woff'),
  url('../fonts/OldstItaHPLHS.svg#OldstyleItalic-HPLHS') format('svg');
}

@font-face {
  font-family: 'OldStyle1-HPLHS';
  src: url('../fonts/OldStyHPLHS.eot');
}

@font-face {
  font-family: 'OldStyle1-HPLHS';
  src: url('../fonts/OldStyHPLHS.woff') format('woff'),
  url('../fonts/OldStyHPLHS.svg#OldStyle1-HPLHS') format('svg');
}

@font-face {
  font-family: 'LyonsItalic';
  src: url('../fonts/LyonsIta.eot');
}

@font-face {
  font-family: 'LyonsItalic';
  src: url('../fonts/LyonsIta.woff') format('woff'),
  url('../fonts/LyonsIta.svg#LyonsItalic') format('svg');
}

@font-face {
  font-family: 'BelizioBold';
  src: url('../fonts/BelizBol.eot');
}

@font-face {
  font-family: 'BelizioBold';
  src: url('../fonts/BelizBol.woff') format('woff'),
  url('../fonts/BelizBol.svg#BelizioBold') format('svg');
}

@font-face {
  font-family: 'Telegram-HPLHS';
  src: url('../fonts/TelegHPLHS.eot');
}

@font-face {
  font-family: 'Telegram-HPLHS';
  src: url('../fonts/TelegHPLHS.woff') format('woff'),
  url('../fonts/TelegHPLHS.svg#Telegram-HPLHS') format('svg');
}

/***************************/

body {
  margin:0px;
  padding:0px;
  background:#fff;
}

img,
video {
  width: 100%;
}

p {
  line-height: 1.4em;
  font-size: 1.4em;
}

p.copy {
  padding-right: 30%;
}

article {
  width:66.66667%;
  min-width:320px;
  position:relative;
}

h1 { font-family: 'HeadlineTwo-HPLHS', Georgia, Times, serif; font-size:2.0em; letter-spacing: 0.12em; line-height:1em; font-weight: normal; }
h2 { font-family: 'HeadlineOne-HPLHS', Georgia, Times, serif; font-size:1.8em; letter-spacing: 0.10em; font-weight: normal; }
h1,h2 { margin:0px 0px 10px; }
h4 { font-family: 'OldStyle1-HPLHS', Helvetica, Arial, sans-serif; margin:0px; font-size:0.8em; }
body { font-family: 'OldStyle1-HPLHS', Helvetica, Arial, sans-serif; margin:0px; }

.scroll {
  position:absolute;
  right:0px; bottom:0px;
  font-size:10px;
  text-transform:uppercase;
  padding:5px 10px;
}

.typewriter {
  font-family: 'Telegram-HPLHS', Georgia, Times, serif;
}
.colophon {
  display:block;
  margin-top:10px;
}

#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:66.6666%;
}

#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:300%;
  left:-70%;
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
}

.spot {
  width:100px;
  height:100px;
  margin:-50px 0px 0px -15px;
  position:absolute;
}

.spot-cover { display:none; }
.spot-mojave { background:url(http://a.tiles.mapbox.com/v3/marker/pin-s-circle-stroked+9dc3d7.png) no-repeat; }
.spot-mojave.active { background:url(../images/hiker.png) no-repeat; }
.spot-meadows { background:url(http://a.tiles.mapbox.com/v3/marker/pin-s-circle-stroked+9dc3d7.png) no-repeat; }
.spot-meadows.active { background:url(../images/hiker.png) no-repeat; }
.spot-mirror { background:url(http://a.tiles.mapbox.com/v3/marker/pin-s-circle-stroked+9dc3d7.png) no-repeat; }
.spot-mirror.active { background:url(../images/hiker.png) no-repeat; }
.spot-cassel { background:url(http://a.tiles.mapbox.com/v3/marker/pin-s-circle-stroked+9dc3d7.png) no-repeat; }
.spot-cassel.active { background:url(../images/hiker.png) no-repeat; }
.spot-mccloud { background:url(http://a.tiles.mapbox.com/v3/marker/pin-s-circle-stroked+9dc3d7.png) no-repeat; }
.spot-mccloud.active { background:url(../images/hiker.png) no-repeat; }
.spot-crater { background:url(http://a.tiles.mapbox.com/v3/marker/pin-s-circle-stroked+9dc3d7.png) no-repeat; }
.spot-crater.active { background:url(../images/hiker.png) no-repeat; }
.spot-goatrocks { background:url(http://a.tiles.mapbox.com/v3/marker/pin-s-circle-stroked+9dc3d7.png) no-repeat; }
.spot-goatrocks.active { background:url(../images/hiker.png) no-repeat; }



/************* CARD STYLES *************/

.card {
  padding:40px;
  position:relative;
  transition:background 500ms, color 500ms;
  -moz-transition:background 500ms, color 500ms;
  -webkit-transition:background 500ms, color 500ms;
}

.card,
.card a {
  color:#fefefe;
  background-color: #222222;
  opacity: 0.8;
  text-decoration:none;
}

.card.active {
  background-color: #222222;
  color:#fefefe;
  opacity: 0.95;
}

.card.active a { color:#eee; }
.card.active small { color:#aaa; }

.card.inventor {
  border-left: 18px solid #e9e198;
}

.card.pilot {
  border-left: 18px solid #e2bdbd;
}

.card.stewardess {
  border-left: 18px solid #b5d2d3;
}

.card.pilot.stewardess {
  border-left: 18px solid #993D3D;
}

.card.investors {
  border-left: 18px solid #85FFAD;
}

.card .content {
  padding: 150px 0;
}

#cover, #fin {
  text-align: center;
}

#fin .content ul li {
  list-style: none;
}

/* Distinguish the "cover page" visually other sections. */
body.section-0 #map { opacity:0.5; }

/*@media (max-width:640px) {
  body {
    font-size:12px;
    line-height:16px;
    }
  article {
    width:100%;
    min-width:100%;
    padding-top:0px;
    padding-bottom:200%;
    }
  section {
    text-shadow:none;
    margin-left:0px;
    padding:30px;
    }
  section.active {
    position:fixed;
    top:0px; left:0px; right:0px;
    }
  #pane { width:100%; }
  #map  {
    bottom:0%;
    left:0%;
    width:100%;
    height:150%;
    }
  }
}
*/